*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Epilogue', sans-serif;
}
header {
  padding-top: 16px;
  background-color: #28293E;
}
.import{
  background-color: #28293E;
}
.all-container{
  display: flex;
  align-items: center;
  padding-left: 60px;
}
.logo img {
  margin-bottom: 15px;
  margin-left: 5%;
}
.main-menu{
  color: white;
}
.main-menu ul{
  list-style-type: none;
  display: flex;
  margin-left: 22%;
}
.main-menu li{
  margin-left: 120px;
}
.banner-text{
  width: 50%;
  color: white;
  margin-left: 7%;
  margin-top: 7%;
}
.banner-text h1{
  color: #EF6D58;
  letter-spacing: 3px;
  margin-bottom: 34px;
}
.banner-text h2{
  color: #ffffff;
  top: 327px;
  left: 135px;
  width: 458px;
  height: 154px;
  font-size: 65px;
  font-weight: bold;
}
.banner-image{
  display: flex;
  margin-top: 5px;
}
.import{
  display: flex;
  align-items: center;
}
.banner-text p {
  color: #FFFFFFA3;
}
.main-menu a{
  text-decoration: none;
  color: white;
}
.banner-text div{
  margin-top: 15px;
}
.container-see{
  border-radius: 6px;
  background: #EF6D58;
  text-align: center;
  color:#ffffff;
  width: 154px;
  height: 48px;
}
.container-see{
  padding: 18px 27px 27px 16px;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
}
a{
  text-decoration: none;
}
.second-container {
  background-color:#FDF0E9;
  padding-top: 100px;
  padding-right: 136px;
  padding-left: 136px;
  padding-bottom: 100px;
}

.service{
  color: red;
  font-size: 1.5rem;
}
.service{
  text-align: center;
  padding-top: 2%;
}
.help{
  padding-top: 2%;
  text-align: center;
  font-size: 3rem;
  color: #391400;
  font-weight: bold;

}
.container-design{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}
.design-icon {
  width: 80px;
  height: 80px;
  background-color: #EF6C57;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.design{
  margin-left: 2%;
}

.container-agency{
  line-height: 32px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.container-plus{
  color: red;
  font-size: 2.5rem;
  box-shadow: 0px 3px 9px #39140014;
}
.container-plus{
  text-align: center;
  background-color: white;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
}

.container-development{
  display: flex;
  margin-top: 10%;
}
.development{
  margin-left: 2%;
  margin-top: 1%;
  color: #391400;
}
.container-hier{
  margin-top: 1%;
  margin-left: -1%;
}
.container-box {
  width: 50%;
  border: 1px solid #F3D1BF;
  padding: 48px;
}
/*.box-container {
width: 50%;
border: 0.5px solid black;
}*/

.plus-container{
  align-items: center;
  display: flex;
}
.container-learn{
  margin-left: 20px;
  color: #391400;
}

.container-box, .container-development{
  justify-content: center;
}
.container-development{
  margin-left: -43%;
}
.conatainer-more{
  margin-top: 80px;
}
.third-container{
  background-color: #28293E;
}
.container-portfolio{
  padding-top:116px;
  padding-left: 135px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #EF6D58;
}
.container-latest{
  padding-top: 31px;
  padding-left: 135px;
  color: white;
  font-size: 2.5rem;
  letter-spacing: -1px;
  font-weight: bold;
}
.container-explore{
  margin-right: 134px;
}
.container-explore{
  border: 2px solid #3A3C56;
  border-radius: 6px 6px 6px 6px;
  width: 170px;
  height: 48px;
  padding: 14px;
  text-align: center;
  color: white;
}
.portfolio-img{
  display: inline-block;
  padding: 16px;
}
.container-parents{
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}
.portfolio-item{
  display: flex;
}
.container-laex{
  display: flex;
  justify-content:space-between;
  padding-left: 30px;
  padding-right: 30px;
}
.fourth-container{
  background-color:#FDF0E9;
  /* display: flex; */
}
.container-everything{
  display: flex;
}
.container-pires{
  color: #EF6D58;
}
.container-pires{
  text-align: center;
}

img{
  max-width: 100%;
}
.container-web{
  font-size: 2rem;
  color: #391400;
  padding-top: 7%;

}
.container-four{
  padding-left: 5%;
}
.container-foto{
  padding-left: 3%;
}
.container-provides{
  padding-top: 3%;
  width: 276px;
  height: 21px;
}

.container-ability{
  padding-top: 31px;
}
.container-about{
  border-radius: 6px;
  background: #EF6D58;
  text-align: center;
  color:#ffffff;
  width: 130px;
  height: 38px;

}
.container-about{
  width: 138px;
  height: 48px;
  text-align: center;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
  padding: 18px 32px 32px 16px;
  background: #ffffff;
  color: #391400;
  font-weight: bold;

  /* padding: 18px 27px 27px 16px;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1; */
}

.portfolio-img{
  width: 448px;
  height: 576px;
  padding-left: 16px;
  border: 1px solid #3A3C56;
  opacity: 1;
}

.container-contact{
  border: 1px solid #FFFFFF4B;
  text-align: center;
  width: 138px;
  height: 48px;
  padding: 18px 35px 35px 16px;
  border-radius: 6px;
}
.portfolio-item{
  color: white;
  position: relative;
  overflow: hidden;

}
.portfolio-title{
  position: absolute;
  bottom: 15%;
  margin-left: 20px;
  background: #white;
  padding: 2px;
  border-radius: 3px;
  transition: 1s linear;
  /* transition: all.3s;  */
}
.portfolio-item:hover .portfolio-title{
  bottom: 35%;
  background: blue;
  border-radius: 3px;
  transform: rotate(360deg);
}
.portfolio-img img{
  transition: all .6s

}
.portfolio-item:hover img {
  transform: scale(1.2)
}
.container0,.container1{
  display: flex;
  align-items: center;
}

.container-about{
  margin-top: 26px;
}
.container-ability{
  width: 470px;
  height: 98px;
  color: #391400A3;
  opacity: 1;
}
.title-xl  .color-braun{
  width: 387px;
  height: 121px;

}
.container0 p   {
  font-size: 42px;
  font-weight: bold;
  width: 74px;
  height: 41px;

}
.container1 p  {
  font-size: 42px;
  font-weight: bold;

}

.container0 , .container1{
  width: 50%;
  color: #391400;
  border: 1px solid #F3D1BF;
  width: 586px;
  height: 176px;
}
.container-block{
  display: flex;
  align-items: center;
  padding-top: 241px;
  padding-left: 135px;
  padding-right:135px;
  padding-bottom: 100px;
}
.title-section{
  padding-top: 100px;
}
.container-foto{
  padding-top: 100px;
}

.fifth-container{
  height: 880px;
  display: flex;
  align-items: center;
  /* UI Properties */
  background: #28293E 0% 0% no-repeat padding-box;
  opacity: 1;
}

.container-features{
  color: #EF6D58;
  padding-top: 212px;
  padding-left: 135px;
  letter-spacing: 3px;
}
.container-give{
  padding-top: 31px;
  padding-left: 135px;
  color: #FFFFFF;
  font-size: 56px;
  font-weight: bold;
}
.container-range{
  padding-top: 35px;
  padding-left: 135px;
  font-size: 20px;
  color: #ffffff;
}

.container-skills{
  padding-top: 28px;
  padding-left: 183px;
  color: #ffffff;
  font-size: 16px;

}

.container-business , .container-partner{
  padding-top: 31px;
  padding-left: 183px;
  color: #ffffff;
  font-size: 16px;
}
.conatainer-surprise{
  padding-top: 44%;
  padding-left: 135px;

}
.conatainer-width{
  width: 50%;
}

.container-image{
  width: 50%;
}

.sixth-container{
  display: flex;
  height: 336px;
  background: #F9E5DA 0% 0% no-repeat padding-box;
  opacity: 1;
}
.container-start{
  padding-top: 125px;
  padding-left: 135px;
  font-size: 16px;
  letter-spacing: 3px;
  color: #EF6D58;
}
.container-move{
  padding-top: 24px;
  padding-left: 135px;
  color: #391400;
  font-size: 24px;
  font-weight: bold;
}

.contact-container{
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #EF6D58;
  width: 154px;
  height: 48px;
  text-align: center;
  padding: 18px 31px 31px 16px;
  border-radius: 6px;
}
.contact-container{
  margin-top: 26px;
  margin-left: 135px;
}
.container-put{
  padding-top: 148px;
  padding-left: 148px;
  font-size: 16px;
  color: #391400A3;
}
.container-gul{
  padding-left: 62px;
  padding-top: 42px;
}
.seventh-conatainer{
  background-color:#FDF0E9;
}
.container-testi{
  font-size: 16px;
  text-align: center;
  letter-spacing: 3px;
  color: #EF6D58;
  padding-top: 116px;
}

.container-clients{
  font-size: 56px;
  font-weight:bold;
  text-align: center;
  letter-spacing: -1px;
  color: #391400;
  padding-top: 31px;
  color: #391400;
}
.container-twitor{
  width: 391px;
  height: 432px;
}
.container-twitor{
  width: 295px;
  color: #391400A3;
  opacity: 1;
}
.twitor-man{
  display: flex;
  align-items: center;
  padding-top: 65px;
  padding-left: 48px;

}

.container-twitor{
  width: 391px;
  height: 432px;
  border: 1px solid #F3D1BF;
  border-radius: 6px 0px 0px 6px;
  opacity: 1;
}
.container-meta{
  width: 391px;
  height: 432px;
  border: 1px solid #F3D1BF;
  opacity: 1;
  background-color: white;
}
.container-meta article{
  padding-top: 116px;
  padding-left: 48px;
  padding-right: 48px;

}
.container-photogram{
  width: 391px;
  height: 432px;
  border: 1px solid #F3D1BF;
  border-radius: 0px 6px 6px 0px;
  opacity: 1;
}
.container-photogram article{
  padding-top: 116px;
  padding-left: 48px;
  padding-right: 48px;

}

.container-twitor article{
  padding-top: 116px;
  padding-left: 48px;
  padding-right: 48px;

}
.container-man-twitor{
  padding-top: 65px;
  padding-left: 94px;
}
.container-man-meta{
  padding-top: 65px;

}
.container-man-photogram{
  padding-top: 65px;

}
.en{
  padding-left: 26px;
  color: #391400;
  opacity: 1;
  font-size: 24px;
  font-weight: bold;
}
.ending{
  padding-left: 152px;
  padding-bottom: 59px;
  color: #391400;
  font-size: 17px;
  font-weight: bold;
}
.container-see-all{
  width: 138px;
  height: 48px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF;
  box-shadow: 0px 3px 9px #39140014;
  border-radius: 6px;
  opacity: 1;
  text-align: center;
  padding: 18px 18px;
  font-size: 14px;
  font-weight: bold;
}

.container-see-all{
  margin-top: 118px;
  margin-left: 45%;
  margin-right: 45%;
  padding-bottom: 2%;
}


.container-see-all{
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-391400);
  text-align: center;
  letter-spacing: 0px;
  color: #391400;
  text-transform: uppercase;
  opacity: 1;
}
