.title-section {
	font-size: 16px;
	color: #EF6D58;
	letter-spacing: 3px;
	line-height: 32px;
	text-transform: uppercase;
}
.title-xl{
	font-weight: 800;
	font-size: 56px;
	letter-spacing: -1px;
	line-height: 64px;
	margin-top: 25px;
}
/* text alignments */
.text-center {
	text-align: center;
}


/* colors */
.color-white {
	color: #ffffff;
}
.color-braun {
	color: #391400;
}
.color-light-braun {
	color: #391400A3;
}
/* headings */
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}
/* border */
.brd-radius-right {
  border-radius: 0px 6px 6px 0px;
}
.brd-radius-left {
  border-radius: 6px 0px 0px 6px;
}

.container-flex{
	display: flex;
	align-items: center;

}
