.container-flex{
  display: flex;
}
.ff2{
  border: 1px solid #CBCBCB;
  border-radius: 12px;
}
.container-control{
  padding-left: 5%;
  color: var(--gray-900, #18181B);
  font-family: Poppins;
  font-size: 50.923px;
  font-style: normal;
  font-weight: 700;
  line-height: 58.198px; /* 114.286% */
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  nav{
    display: none;
  }
  .container-control{
    text-align: center;
  }
  .second-container{
    flex-direction: column;
    display:inline-table;
    border-radius: 12px;
  }
  .container-fifty-procent{
    margin-top: 20%;
  }
  .container-chiken{
    flex-direction: column;
    padding-bottom: 10%;
    padding-left: 10%;
  }
  .big-block{
    flex-direction: column;

  }
  .container-block{
    width: 50%;
    margin-top: 10px;
  }


  .container-estaurants{
    flex-direction: column;
  }
  .container-flex-one{
    flex-direction: column;
  }
  .container-get-procent{
    display: flex;
    text-align: center;
    font-size: 50PX;
  }
  .container-class{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;

  }
  .container-get{
    margin-left: 10px;
  }

  .container-img-re img{
    padding-bottom: 50%;
    margin-left: 50%;
    display: none;
  }

  img{
    max-width: 100%;
  }
  .container-with-em{
    width: 80%;
  }
  .container-online{
    width: 80%;
  }

  .container-aleks{
    width: 80%;
  }
  .third-container{
    flex-direction: column;
  }
  .container-downlad {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
  }
  .container-vector{
    padding-left: 65%;
  }
  .container-premium{
    padding-top: 0%;

  }
  .import{
    flex-direction: column;
  }
  .container-more{
    flex-direction: column;
    align-items: center;
  }
  .container-all-chiken{
    width: 100%;
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right: 7%;

  }
  .this{
    justify-content: space-around;
  }
  .container-pm{
    padding-left: 0;
  }
  .container-top{
    width: 50%;
    margin-top: 20px;
  }
  .banner-text h2{
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .banner-text p{
    width: 100%;
    text-align: center;
    padding-top: 1%;

  }
  .banner-text p{
    padding: 20px;
  }
  .banner-star{
    align-items: flex-start;
    justify-content: center;
  }
  .banner-image{
    padding-top: 0px;
  }
  .container-00{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iphone{
    width: 100%;
  }
  .container-fifty-procent{
    width: 100%;
  }

  .container-food , .container-promote , .container-premium{
    text-align: center;

  }
  .container-pur{
    justify-content: space-around;
  }
  .logo{
    padding-left: 5%;
  }

  .container-chiken-one,
  .container-chiken-two {
    flex-direction: column;
  }
  .container-estaurants {
    flex-direction: column;
  }

  .formaction{
    display: flex;
  }
  .subscribe-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
  }
  .der-container{
    margin-left: 2%;
  }
  .container-food-block{
    display: flex;
    align-items:center;
    justify-content: center;

  }
.container-contact{
  flex-direction: column;
  display: flex;
      align-items: center;
      justify-content: center;
}
.container-just{
  width: 360px;
  height: 250px;
  margin-top: 13.5%;
}
.container-screen{
  display: none;
}

.con-cust{
  display: none;
}
.container-input-name input{
  width: 330px;
}
.container-class-problem textarea{
  width: 330px;
    height: 130px;
}
.container-class2 button{
  width: 290px;
}
.container-forms{
  padding-left: 5%;
}
.questions-words{
  display: none;
}
.container-rest1{
  font-size: 30px;
  font-weight: bold;
}
.container-questions{
  display: flex;
align-items: center;
justify-content: flex-start;
}
.questions{
  font-size: 12px;
}
.ff4{
border: 1px solid #CBCBCB;
margin: 22px;
border-radius: 12px;
}
}
